Package: [[artifactId]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: apt-transport-https
Maintainer: eBlocker Open Source UG <dev@eblocker.com>
Description: eBlocker Device - Bootstrapping for the [[environment]] environment
Distribution: stable
